html {
    background-color: #ffdadf;;
} 

.buttonA {
    color: #ffdadf;
    background-color: #fe97b0;
    border: 10px solid orangered;
    padding: 15px;
    display: flex; 
    text-align: center;
    font-family: 'Tenor Sans', sans-serif;
    font-weight: bold;
    font-size: large; 
}

#initials, #score {
    color: #ffdadf;
    background-color: #fd3765;
    border: 10px solid #fe97b0;
    padding: 20px; 
    text-align: center;
    font-family: 'Architects Daughter', cursive;
    box-sizing: content-box;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    margin: 5px;
    width: 300px;
    height: 40px;
}

.title {
    color: #fd3765;
    background-color: #ffdadf;
    border: 10px double orangered;
    padding: 50px;
    text-align: center;
    font-family: 'Tenor Sans', sans-serif;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    width: 350px;
    height: 100px;
}
#submit {
    color: #fd3765;
    background-color: #ffdadf;
    border: 10px double orangered;
    padding: 20px;
    text-align: center;
    font-family: 'Tenor Sans', sans-serif;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    width: 100px;
    height: 75px;
}
